<div class="Header">
    <div class="Title"><a routerLink="/"><span style="color: hsl(208, 100%, 50%);margin-left: -0px;">A</span><span style="color: black;">benezer</span> <span style="color: #0189FF;margin-left: 6px;">A</span><span style="color: black;">brham</span></a></div>
    <nav>
        <ul>
            <li><a routerLink="/privous"><span style="color: #0189FF;">P</span>revious Work</a></li>
            <li style="margin-left: -75px;"><a routerLink="/about"><span style="color: #0189FF;">A</span>bout Me</a></li>
            <button style="margin-left: 18rem;font-weight: bold;"><a href="#Subscribe">Subscribe</a></button>
        </ul>
      </nav>
</div>
