.Header {
    position: fixed;
    background-color: white;
    width: 100%;
}
.Title {
    font-size: 30px;
    margin-left: 50px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 30px;
}
nav ul {
    margin-left: 32rem;
    margin-top: -43px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 52px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    cursor:grab;
    font-size: 17px;
}
nav ul li a:hover{
    color: #0189FF;  
}
button {
    background: #0189FF;
    padding:13px 20px;
    border: 2px solid transparent;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 33px;
}
button:hover{
    cursor: pointer;
    background-color: #0188ff86;
}