<div class="about">
  <div class="flex">
    <div @slide>
      <img [src]="abenezer" alt="" class="profile" >   
    </div>
    <div class="about_text">
      <p class="text_header">Let's Talk <span style="color: #0189FF;">About Me</span></p>
      <p class="text_subtitle">Drawing upon my rich cultural heritage from Addis Ababa, Ethiopia, I infuse my web development projects with a unique blend of creativity and ingenuity, inspired by the vibrant tapestry of my surroundings. From conceptualization to execution, I meticulously craft user-centric front-end experiences that not only captivate audiences but also elevate brands to new heights of digital prominence. My journey into the realm of web development began with a fervent pursuit of knowledge, immersing myself in the intricacies of coding languages and design principles through rigorous academic training.</p>
    </div>
  </div>
    <div class="text_description">
      <p>With a solid foundation in place, I embarked on a quest for mastery, delving into the nuances of UI/UX mobile app design, where I discovered the transformative power of intuitive interfaces and seamless user experiences. Fuelled by a relentless passion for innovation, I continuously expand my skill set, staying abreast of the latest industry trends and emerging technologies.</p>
      <p>Embracing the ethos of lifelong learning, I have seamlessly transitioned into the realm of freelance web development, leveraging platforms such as Upwork to showcase my expertise and collaborate with a diverse array of clients worldwide. Through each project, I strive not only to meet expectations but to exceed them, delivering bespoke solutions that resonate with target audiences and drive tangible results.</p>
      <p>As I navigate the dynamic landscape of digital innovation, I remain committed to pushing the boundaries of possibility, harnessing the transformative power of technology to shape a brighter, more interconnected future for us all."</p>
    </div> 
</div>
<div class="footer"></div>
    <div class="Footer-element">
      <div id="subscribeSection">
        <input type="text" class="input" placeholder="Enter Your Email Addrees">
        <button style="width: 6rem;height: 40px;border-radius: 20px;margin-left: 10px;margin-top: 20px;"><p style="font-size: 15px;margin-left: -5px;margin-top: -3px;">Subscribe</p></button>
      </div>
      <div class="footer_name">
        <div class="name"><span style="color: white;font-weight: bold;">Abenezer</span> <span style="color: #0189FF;font-weight: bold;margin-left: 6px;">Abrham</span></div>
        <p style="font-size: 20px;margin-left: 70px;margin-top: 8px;color: rgba(255, 255, 255, 0.726);">Hi, I'm Abenezer Abrham a freelance on web developer <br> and designer from Addis Ababa.I help brands <br> turn their ideas into high quality products.</p>
        <div class="social">
          <a href="https://github.com/abinagithub"><img [src]="githubImage" alt="" class="github-footer"></a>
          <a href="https://web.telegram.org/a/#897951842"><img [src]="telegramImage" alt="" class="telegram-footer"></a>
          <a href=""><img [src]="instaImage" alt="" class="instagram-footer"></a>
          <a href="https://www.linkedin.com/in/abenezer-abrham-5a018321a/"><img [src]="linkdnImage" alt="" class="linkdn-footer"></a> 
        </div>
      </div>
      <div class="footer_link">
        <p style="font-size: 30px;color: white;font-weight: bold;" class="Link"><span style="color: #0189FF;">Link</span></p>
        <p style="margin-left: 36rem; margin-top: 10px; font-weight: bold; color: white;font-size: 20px;">
          <a routerLink="/">Home Page</a>
        </p>
        <p style="margin-left: 36.3rem;margin-top: 10px;font-weight: bold;color: white;font-size: 20px;"><a routerLink="/about">About Me</a></p>
      </div>
      <div class="footer-contact">
        <p style="font-size: 30px;color: #0189FF;margin-left: 64rem;margin-top: -78px;font-weight: bold;">Contact <span></span></p>
        <div class="Contact-me">
          <img [src]="upwork" alt="" style="width: 25px;height: 25px;margin-left: 54rem;margin-top: 20px;">
          <a href="https://www.upwork.com/freelancers/~015486a53d6d3eb69a"><p style="margin-left: 7px;font-size: 17px;">https://www.upwork.com/freelancers/~015486a53d6d3eb69a</p></a>
        </div>
        <div class="Contact-me">
          <img [src]="email" alt="" style="width: 30px;height: 30px;margin-left: 53.8rem;margin-top: 14px;">
          <a href="mailto:Abenezer82abrahm@gmail.com"><p style="margin-left: 5px;margin-top: -3px;font-size: 17px;">abenezer82abrham&#64;gmail.com</p></a>
        </div>
      </div>
      <div style="width: 60rem;height: 0.4px;background-color: rgba(255, 255, 255, 0.733);margin-top: 100px;margin-left: 25rem;border-radius: 3px;"></div>
      <p style="margin-left: 44rem;margin-top: 10px;color: rgba(255, 255, 255, 0.61);font-size: 15px;">Copyright &#64;2024 Abenezer Abrham Inc. All Rights Reserved</p>
</div>