#Subscribe {
    width: 40rem;   
    height: 5rem;   
    background-color: #f5f5f5; 
    margin-left: 21rem;    
    border-radius: 20px; 
    margin-top: -21.5rem;
    border: 1px solid #0189FF;
    display: flex;
    box-shadow: 0 0 6.5px #fff;
}
.footer {
    width: auto;
    height: 300px;
    background-color: #101010;
    margin-top: 16rem;
}
.linkdn {
    width: 19px;
    height: 19px;
    margin-top: 20px;
    margin-left: 37px;
}
.github {
    width: 50px;
    height: 50px;
    margin-top: 103px;
    margin-left: 20px;
}
.telegram {
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 24px;
}
.input {
    width: 28rem;
    height: 40px;
    margin-left: 40px;
    margin-top: 17px;
    padding-left: 15px;   
}
.github-footer {
    width: 20px;
    height: 20px;
    margin-left: 55px;
}
.telegram-footer {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.instagram-footer {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.linkdn-footer {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.social {
    padding: 15px;
}
.Link {
 margin-top: -134px;
 margin-left: 37rem;
}
a {
    text-decoration: none;
    color: white;
    margin-top: 22px;
}
.Contact-me {
    display: flex;
  }
.About-me {
  display: flex;
}
.text {
    font-size: 30px;
    margin-top: 10px;
    font-family: "Truculenta", sans-serif;
}
.name {
    margin-top: 30px;
    margin-left: 70px;
    font-size: 30px;
}
button {
    background: #0189FF;
    padding:9px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}
button:hover{
    cursor: pointer;
    background-color: #0188ff86;
}
  
  