<div class="container">

    <div class="header">
        <p style="margin-top: 10px;margin-left: 34px;font-size: 25px;font-weight: bold;">Work.</p>
        <p style="margin-left: 34px;margin-top: 19px;font-weight: 700;">Engaging Work With Smart <span style="color: #0189FF;">Clients.</span></p>
    </div>
    <div>
        <p class="video_field">Mobile <span style="color: #0189FF;">.</span> Design</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="mobile" ></video>
        </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 25px;font-weight: bold;margin-left: 80px;">Mobile App Design <br> <span style="color: #0189FF;margin-left: 35px;">Using Figma</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 40px;font-size: 18px;width: 19rem;">there is a sample video for mobile app login and a lot of designs for my client <span style="color: #0189FF;margin-left: 80px;">with a great ui/ux.</span></p>
        </div>
        <!-- school app design. -->
        <p class="video_field">Front-end <span style="color: #0189FF;font-size: 60px;">.</span> Mobile</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="project" ></video>
        </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 25px;font-weight: bold;margin-left: 80px;">School Mobile App <br> <span style="color: #0189FF;margin-left: 35px;">Using React</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 40px;font-size: 18px;width: 19rem;">there is a sample video that was build a shool system mobile app with a short <span style="color: #0189FF;margin-left: 80px;">period of time</span></p>
        </div>
        <!-- figma landing page. -->
        <p class="video_field">Figma <span style="color: #0189FF;font-size: 60px;">.</span> Design</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="figma" ></video>
        </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 25px;font-weight: bold;margin-left: 75px;">Landing Page Design <br> <span style="color: #0189FF;margin-left: 35px;">Using Figma</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 40px;font-size: 18px;width: 19rem;">there is a sample video that was a landing pages and hero section website design <span style="color: #0189FF;margin-left: 80px;">using Figma</span></p>
        </div>
        <div >
            <p class="listing-header">Listing Mobile Apps</p>
            <div class="header_underline"></div>
            <div class="Listing-design">
                    <img [src]="img1" alt="" class="listing-1"><br>
                    <img [src]="img2" alt="" class="listing-2"><br>
                    <img [src]="img3" alt="" class="listing-3">
            </div>
        </div>
        <div class="mob_footer"></div>
        <div class="mob_element">
            <div class="mob_name"><span style="color: white;font-weight: bold;">Abenezer</span> <span style="color: #0189FF;font-weight: bold;margin-left: 6px;">Abrham</span></div>
            <p class="footer_description">Hi, I'm Abenezer Abrham a <br> freelance on web developer and <br> designer from Addis Ababa.I <br> help brands turn their ideas into <br> high quality products.</p>
            <div class="mob_social">
                <a href="https://github.com/abinagithub"><img [src]="githubImage" alt="" class="mob_github-footer"></a>
                <a href="https://web.telegram.org/a/#897951842"><img [src]="telegramImage" alt="" class="telegram-footer"></a>
                <a href=""><img [src]="instaImage" alt="" class="instagram-footer"></a>
                <a href="https://www.linkedin.com/in/abenezer-abrham-5a018321a/"><img [src]="linkdnImage" alt="" class="linkdn-footer"></a>
            </div>
              <p class="mob_upwork_title">Contact Me<span></span></p>
              <div class="Contact-me">
                <a href="https://www.upwork.com/freelancers/~015486a53d6d3eb69a"><img [src]="upwork" alt="" style="width: 25px;height: 25px;margin-left: 270px;margin-top: 10px;"></a>
                <a href="mailto:Abenezer82abrahm@gmail.com"><img [src]="email" alt="" style="width: 30px;height: 30px;margin-left: -27px;margin-top: 40px;"></a>
              </div>
              <div class="footer_blank"></div>
              <p class="footer_copyright">Copyright &#64;2024 Abenezer Abrham Inc.</p>
        </div>
        
    

</div>
