<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
<div>
    <div class="text">
        <p class="title">Let's Talk <span style="color: #0189FF;">About Me</span></p>
        <img [src]="" alt=""> 
        <p class="desc_text">Drawing upon my rich cultural heritage from Addis Ababa, Ethiopia, I infuse my web development projects with a unique blend of creativity and ingenuity, inspired by the vibrant tapestry of my surroundings. From conceptualization to execution, I meticulously craft user-centric front-end experiences that not only captivate audiences but also elevate brands to new heights of digital prominence. My journey into the realm of web development began with a fervent pursuit of knowledge, immersing myself in the intricacies of coding languages and design principles through rigorous academic training.</p>
        <p class="desc_text">With a solid foundation in place, I embarked on a quest for mastery, delving into the nuances of UI/UX mobile app design, where I discovered the transformative power of intuitive interfaces and seamless user experiences. Fuelled by a relentless passion for innovation, I continuously expand my skill set, staying abreast of the latest industry trends and emerging technologies.</p>
        <p class="desc_text">Embracing the ethos of lifelong learning, I have seamlessly transitioned into the realm of freelance web development, leveraging platforms such as Upwork to showcase my expertise and collaborate with a diverse array of clients worldwide. Through each project, I strive not only to meet expectations but to exceed them, delivering bespoke solutions that resonate with target audiences and drive tangible results.</p>
        <p class="desc_text">As I navigate the dynamic landscape of digital innovation, I remain committed to pushing the boundaries of possibility, harnessing the transformative power of technology to shape a brighter, more interconnected future for us all."</p>
    </div>  
</div> 
<div class="mob_footer"></div>
<div class="mob_element">
        <div class="mob_name"><span style="color: white;font-weight: bold;">Abenezer</span> <span style="color: #0189FF;font-weight: bold;margin-left: 6px;">Abrham</span></div>
        <p class="footer_description">Hi, I'm Abenezer Abrham a <br> freelance on web developer and <br> designer from Addis Ababa.I <br> help brands turn their ideas into <br> high quality products.</p>
        <div class="mob_social">
          <a href="https://github.com/abinagithub"><img [src]="githubImage" alt="" class="mob_github-footer"></a>
        <a href="https://web.telegram.org/a/#897951842"><img [src]="telegramImage" alt="" class="telegram-footer"></a>
        <a href=""><img [src]="instaImage" alt="" class="instagram-footer"></a>
        <a href="https://www.linkedin.com/in/abenezer-abrham-5a018321a/"><img [src]="linkdnImage" alt="" class="linkdn-footer"></a>
        </div>
        <p class="mob_upwork_title">Contact Me<span></span></p>
          <div class="Contact-me">
            <a href="https://www.upwork.com/freelancers/~015486a53d6d3eb69a"><img [src]="upwork" alt="" style="width: 25px;height: 25px;margin-left: 270px;margin-top: -10px;"></a>
            <a href="mailto:Abenezer82abrahm@gmail.com"><img [src]="email" alt="" style="width: 30px;height: 30px;margin-left: -27px;margin-top: 20px;"></a>
          </div>
          <div class="footer_blank"></div>
          <p class="footer_copyright">Copyright &#64;2024 Abenezer Abrham Inc.</p>   
</div>
