.Mobile-video {
    margin-left: 8.5rem;
    margin-top: 0.5rem;
    border-radius: 100px;
}
video {
    border-radius: 10px;
    width: 70rem;
    height: auto;
    box-shadow: 0 4px 6px rgba(136, 132, 132, 0.685);
}
.Listing-design {
    display: flex;
    margin-bottom: 18rem;
}
.listing-1 {
  width: auto;
  height: 190px;
  margin-left: 10px;
  margin-top: 185px;
}
.listing-2 {
    width: auto;
    height: 300px;
    margin-left: 20px;
    margin-top: 130px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px #0189FF;
}
.listing-3 {
    width: auto;
    height: 190px;
    margin-left: 20px;
    margin-top: 198px;
}
#subscribeSection {
    width: 42rem;   
    height: 5rem;   
    background-color: #f5f5f5; 
    margin-left: 34rem;    
    border-radius: 20px; 
    margin-top: -340px;
    border: 1px solid #0189FF;
    display: flex;
    box-shadow: 0 0 9.7px #fff;
}
.footer {
    width: auto;
    height: 300px;
    background-color: #101010;
    margin-top: 14rem;
}
.linkdn {
    width: 19px;
    height: 19px;
    margin-top: 20px;
    margin-left: 37px;
}
.github {
    width: 50px;
    height: 50px;
    margin-top: 103px;
    margin-left: 20px;
}
.telegram {
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 24px;
}
.input {
    width: 28rem;
    height: 40px;
    margin-left: 40px;
    margin-top: 17px;
    padding-left: 15px; 
    border: none;  
}
.github-footer {
    width: 20px;
    height: 20px;
    margin-left: 55px;
}
.telegram-footer {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.instagram-footer {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.linkdn-footer {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.social {
    padding: 15px;
}
.Link {
 margin-top: -134px;
 margin-left: 37rem;
}
a {
    text-decoration: none;
    color: white;
    margin-top: 22px;
}
.Contact-me {
    display: flex;
}
button {
    background: #0189FF;
    padding:9px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}
button:hover{
    cursor: pointer;
    background-color: #0188ff86;
}

.Work {
    margin-left: 12.5rem;
}

.name {
    margin-top: 70px;
    margin-left: 70px;
    font-size: 40px;
}
.footer {
    width: auto;
    height: 400px;
    background-color: #101010;
    margin-top: 200px;
}
.Footer-element {
    margin-top: -27.5rem;
}
.footer_name {
    margin-left: 50px;
}
.footer_link {
    margin-left: 16rem;
    margin-top: -10.3rem;
}
.footer-contact {
    margin-left: 20rem;
    margin-top: -6rem;
}
