<div class="Header">
    <div class="Title"><a routerLink="/"><span style="color: hsl(208, 100%, 50%);">A</span><span style="color: black;">benezer</span> <span style="color: #0189FF;margin-left: 6px;">A</span><span style="color: black;">brham</span></a></div>
    <nav>
        <ul>
            <li><a routerLink="/privous"><span style="color: #0189FF;">P</span>revious Work</a></li>
            <li style="margin-left: -75px;"><a routerLink="/about"><span style="color: #0189FF;">A</span>bout Me</a></li>
            <button style="margin-left: 18rem;font-weight: bold;"><a href="#Subscribe">Subscribe</a></button>
        </ul>
      </nav>
</div>
<div style="margin-left: 20px;">
    <div>
        <p style="margin-top: 7rem;margin-left: 70px;font-size: 25px;font-weight: bold;padding-top: 80px;">Work.</p>
        <p style="margin-left: 70px;margin-top: 19px;font-weight: 700;">Engaging Work With Smart <span style="color: #0189FF;">Clients.</span></p>
    </div>
    <div>
        <p style="color: rgb(109, 108, 108);margin-left: 36rem;margin-top: 40px;">Mobile <span style="color: #0189FF;font-size: 60px;">.</span> Design</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="mobile" ></video>
       </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 30px;font-weight: bold;margin-left: 28.5rem;">Mobile App Design  <span style="color: #0189FF;">Using Figma</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 23rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ex vero nisi qui aspernatur, <br><span style="color: #0189FF;margin-left: 13rem;">unde eius nam ipsam.</span></p>
        </div>
    </div>
    <div>
        <p style="color: rgb(109, 108, 108);margin-left: 36rem;margin-top: 130px;">Front-end <span style="color: #0189FF;font-size: 60px;">.</span> Mobile</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="project" ></video>
       </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 30px;font-weight: bold;margin-left: 28.5rem;">School Mobile App  <span style="color: #0189FF;">Using React</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 23rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ex vero nisi qui aspernatur, <br><span style="color: #0189FF;margin-left: 13rem;">unde eius nam ipsam.</span></p>
        </div>
    </div>
    <div>
        <p style="color: rgb(109, 108, 108);margin-left: 36rem;margin-top: 130px;">Figma <span style="color: #0189FF;font-size: 60px;">.</span> Design</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="figma" ></video>
       </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 30px;font-weight: bold;margin-left: 31.5rem;">Landing Page <span style="color: #0189FF;">Food Web</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 24rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ex vero nisi qui aspernatur, <br><span style="color: #0189FF;margin-left: 13rem;">unde eius nam ipsam.</span></p>
        </div>
    </div>
    <div >
        <p style="font-family:'Times New Roman', Times, serif;margin-top: 200px;margin-left: 34rem;font-size: 27px;font-weight: bold;">Listing Mobile Apps</p>
        <div style="width: 250px;height: 5px;background-color: #0189FF;margin-top: -8px;margin-left: 33.5rem;border-radius: 3px;"></div>
        <div class="Listing-design">
            <div>
                <img [src]="img1" alt="" class="listing-1">
            </div>
            <div>
                <img [src]="img2" alt="" class="listing-2">
            </div>
            <div>
                <img [src]="img3" alt="" class="listing-3">
            </div>
        </div>
    </div>
    <div>
 </div>
</div>
<div class="footer"></div>
<div id="Subscribe">
    <input type="text" class="input" placeholder="Enter Your Email Addrees">
    <button style="width: 6rem;height: 40px;border-radius: 20px;margin-left: 10px;margin-top: 20px;"><p style="font-size: 15px;margin-left: -10px;margin-top: -4px;">Subscribe</p></button>
</div>
<div class="Title"><span style="color: white;font-weight: bold;">Abenezer</span> <span style="color: #0189FF;font-weight: bold;margin-left: 6px;">Abrham</span></div>
<p style="font-size: 13px;margin-left: 70px;margin-top: 8px;color: rgba(255, 255, 255, 0.726);">Hi, I'm Abenezer Abrham a freelance on web developer <br> and designer from Addis Ababa.I help brands <br> turn their ideas into high quality products.</p>
<div class="social">
    <img [src]="githubImage" alt="" class="github-footer">
    <img [src]="telegramImage" alt="" class="telegram-footer">
    <img [src]="instaImage" alt="" class="instagram-footer">
    <img [src]="linkdnImage" alt="" class="linkdn-footer"> 
</div>
<div>
    <p style="font-size: 20px;color: white;font-weight: bold;" class="Link"><span style="color: #0189FF;">Link</span></p>
    <p style="margin-left: 37rem; margin-top: 10px; font-weight: bold; color: white;">
        <a routerLink="/">Home</a>
    </p>
    <p style="margin-left: 36.3rem;margin-top: 10px;font-weight: bold;color: white;"><a routerLink="/about">About Me</a></p>
</div>
<p style="font-size: 20px;color: #0189FF;margin-left: 64rem;margin-top: -78px;font-weight: bold;">Contact <span></span></p>
<div class="Contact-me">
    <img [src]="upwork" alt="" style="width: 25px;height: 25px;margin-left: 54rem;margin-top: 20px;">
    <a href="https://www.upwork.com/freelancers/~015486a53d6d3eb69a">https://www.upwork.com/freelancers/~015486a53d6d3eb69a</a>
</div>
<div class="Contact-me">
    <img [src]="email" alt="" style="width: 30px;height: 30px;margin-left: 53.8rem;margin-top: 14px;">
    <a href="mailto:Abenezer82abrahm@gmail.com"><p style="margin-left: -5px;margin-top: -3px;">abenezer82abrham&#64;gmail.com</p></a>
</div>
<div style="width: 60rem;height: 0.4px;background-color: rgba(255, 255, 255, 0.733);margin-top: 60px;margin-left: 13rem;border-radius: 3px;"></div>
<p style="margin-left: 30rem;margin-top: 10px;color: rgba(255, 255, 255, 0.61);font-size: 13px;">Copyright &#64;2024 Abenezer Abrham Inc. All Rights Reserved</p>



