<div style="margin-left: 20px;padding-top: 20px;">
    <div>
        <p style="margin-top: 10rem;margin-left: 70px;font-size: 40px;font-weight: bold;padding-top: 50px;">Work.</p>
        <p style="margin-left: 70px;margin-top: 19px;font-weight: 700;">Engaging Work With Smart <span style="color: #0189FF;">Clients.</span></p>
    </div>
    <div class="Work">
        <p style="color: rgb(109, 108, 108);margin-left: 40rem;margin-top: 70px;">Mobile <span style="color: #0189FF;font-size: 60px;">.</span> Design</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="mobile" ></video>
       </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 40px;font-weight: bold;margin-left: 27rem;">Mobile App Design  <span style="color: #0189FF;">Using Figma</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 25rem;font-size: 20px;">there is a sample video for mobile app login and a lot of designs for my client <br><span style="color: #0189FF;margin-left: 13.5rem;margin-top: 3px;">with a great Ui/UX</span></p>
        </div>
    </div>
    <div class="Work">
        <p style="color: rgb(109, 108, 108);margin-left: 40rem;margin-top: 130px;">Front-end <span style="color: #0189FF;font-size: 60px;">.</span> Mobile</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="project" ></video>
       </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 40px;font-weight: bold;margin-left: 27rem;">School Mobile App  <span style="color: #0189FF;">Using React</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 24.5rem;font-size: 20px;">there is a sample video that was build a shool system mobile app with a short<br><span style="color: #0189FF;margin-left: 15rem;"> period of time</span></p>
        </div>
    </div>
    <div class="Work">
        <p style="color: rgb(109, 108, 108);margin-left: 40rem;margin-top: 130px;">Figma <span style="color: #0189FF;font-size: 60px;">.</span> Design</p>
        <div class= "Mobile-video">
            <video autoplay loop muted [src]="figma" ></video>
       </div>
        <div class = "Mobile-text">
            <p style="margin-top: 30px;font-size: 40px;font-weight: bold;margin-left: 30rem;">Landing Page <span style="color: #0189FF;">Food Web</span></p>
            <p style="margin-top: 20px;color: rgb(109, 108, 108);margin-left: 23rem;font-size: 20px;">there is a sample video that was a landing pages and hero section website design<br><span style="color: #0189FF;margin-left: 17rem;">using Figma</span></p>
        </div>
    </div>
    <div >
        <p style="font-family:'Times New Roman', Times, serif;margin-top: 250px;margin-left: 46.5rem;font-size: 35px;font-weight: bold;">Listing Mobile Apps</p>
        <div style="width: 270px;height: 3px;background-color: #0189FF;margin-top: -8px;margin-left: 47.5rem;border-radius: 3px;"></div>
        <div class="Listing-design">
            <div>
                <img [src]="img1" alt="" class="listing-1">
            </div>
            <div>
                <img [src]="img2" alt="" class="listing-2">
            </div>
            <div>
                <img [src]="img4" alt="" class="listing-2">
            </div>
            <div>
                <img [src]="img3" alt="" class="listing-3">
            </div>
        </div>
    </div>
    <div>
 </div>
</div>

<div class="footer"></div>
    <div class="Footer-element">
      <div id="subscribeSection">
        <input type="text" class="input" placeholder="Enter Your Email Addrees">
        <button style="width: 6rem;height: 40px;border-radius: 20px;margin-left: 10px;margin-top: 20px;"><p style="font-size: 15px;margin-left: -5px;margin-top: -3px;">Subscribe</p></button>
      </div>
      <div class="footer_name">
        <div class="name"><span style="color: white;font-weight: bold;">Abenezer</span> <span style="color: #0189FF;font-weight: bold;margin-left: 6px;">Abrham</span></div>
        <p style="font-size: 20px;margin-left: 70px;margin-top: 8px;color: rgba(255, 255, 255, 0.726);">Hi, I'm Abenezer Abrham a freelance on web developer <br> and designer from Addis Ababa.I help brands <br> turn their ideas into high quality products.</p>
        <div class="social">
          <a href="https://github.com/abinagithub"><img [src]="githubImage" alt="" class="github-footer"></a>
          <a href="https://web.telegram.org/a/#897951842"><img [src]="telegramImage" alt="" class="telegram-footer"></a>
          <a href=""><img [src]="instaImage" alt="" class="instagram-footer"></a>
          <a href="https://www.linkedin.com/in/abenezer-abrham-5a018321a/"><img [src]="linkdnImage" alt="" class="linkdn-footer"></a>  
        </div>
      </div>
      <div class="footer_link">
        <p style="font-size: 30px;color: white;font-weight: bold;" class="Link"><span style="color: #0189FF;">Link</span></p>
        <p style="margin-left: 36rem; margin-top: 10px; font-weight: bold; color: white;font-size: 20px;">
          <a routerLink="/">Home Page</a>
        </p>
        <p style="margin-left: 36.3rem;margin-top: 10px;font-weight: bold;color: white;font-size: 20px;"><a routerLink="/about">About Me</a></p>
      </div>
      <div class="footer-contact">
        <p style="font-size: 30px;color: #0189FF;margin-left: 64rem;margin-top: -78px;font-weight: bold;">Contact <span></span></p>
        <div class="Contact-me">
          <img [src]="upwork" alt="" style="width: 25px;height: 25px;margin-left: 54rem;margin-top: 20px;">
          <a href="https://www.upwork.com/freelancers/~015486a53d6d3eb69a"><p style="margin-left: 7px;font-size: 17px;">https://www.upwork.com/freelancers/~015486a53d6d3eb69a</p></a>
        </div>
        <div class="Contact-me">
          <img [src]="email" alt="" style="width: 30px;height: 30px;margin-left: 53.8rem;margin-top: 14px;">
          <a href="mailto:Abenezer82abrahm@gmail.com"><p style="margin-left: 5px;margin-top: -3px;font-size: 17px;">abenezer82abrham&#64;gmail.com</p></a>
        </div>
      </div>
      <div style="width: 60rem;height: 0.4px;background-color: rgba(255, 255, 255, 0.733);margin-top: 100px;margin-left: 25rem;border-radius: 3px;"></div>
      <p style="margin-left: 44rem;margin-top: 10px;color: rgba(255, 255, 255, 0.61);font-size: 15px;">Copyright &#64;2024 Abenezer Abrham Inc. All Rights Reserved</p>
    </div>