<div class="describtion">
    <div class="social_media_contact">
        <img [src]="githubImage" alt="" class="github"><br>
        <img [src]="telegramImage" alt="" class="telegram"><br>
        <img [src]="instaImage" alt="" class="insta"><br>
        <img [src]="linkdnImage" alt="" class="linkdn"><br>
    </div>
    <div class="SubTitle">Hello Mate<img [src]="ByeImage" alt="" class="ByeImage"> <br>
    <span style="margin-top: 10px;">I'm Abenezer Abrham</span><br><span>a<span style="color: #0189FF; margin-left: 10px;">web developer.</span> </span>
    <p style="font-size: 14px;color: rgb(164, 165, 165);">Hi, I'm Abenezer Abrham a freelance on web developer and designer from Addis Ababa. <br>I help brands turn their ideas into high quality products. </p>
    <button>Let's Talk</button>
    </div>
</div>
<div class="video">
 <video autoplay loop muted [src]="videoPath"></video>
</div>
<div>
    <p style="font-family:'Times New Roman', Times, serif;margin-top: 80px;margin-left: 30rem;font-size: 27px;font-weight: bold;">I proved the best servies on</p>
    <div class="underline"></div>
        <marquee behavior="" direction="right" class="logo">
            <img [src]="expressPath" alt="" class="express">
            <img [src]="nodePath" alt="" class="node">
            <img [src]="reactPath" alt="" class="react">    
            <img [src]="angularPath" alt="" class="angular">
            <img [src]="figmaPath" alt="" class="figma">
        </marquee>
</div>  
<div class="skill">
  <p style="margin-left: 40.2%;color: white;font-weight: lighter;">SKILLS/ <span style="color: black;">EXPERIENCES</span></p>
  <p style="font-size: 30px;margin-left: 28%;margin-top: 10px;font-weight: bold;color: white;">Cheack My Skills And Work Experience</p>
  <p style="color: rgba(104, 104, 103, 0.808);margin-left: 34%;margin-top: 13px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> <span style="margin-left: 60px;">amet quis sequi nulla tenetur illo im</span></p>
  <div class="Experiences">
    <div class="Work-Experience">
      <div style="font-size: 25px;margin-top: 90px;color: white;margin-left: 20px;letter-spacing: 1px;">Work Experience</div>
      <div style="width: 100px;height: 2px;background-color: #616161ef;margin-left: 30px;margin-top: 7px;"></div>
      <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2020 - 2021</p>
      <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">UI/UX Designer</p>
      <p style="margin-left: 30px;margin-top: 3px;">- Mobile design</p>
      <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2022 - 2023</p>
      <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">Front-End Developer</p>
      <p style="margin-left: 30px;margin-top: 3px;">- Tsige Baltna</p>
      <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2023 - <span>Present</span></p>
      <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">Full-stack Developer</p>
      <p style="margin-left: 30px;margin-top: 3px;">- School System</p>

    </div>
    <div  class="Eduction">
        <div class="Work-Experience">
            <div style="font-size: 25px;margin-top: 90px;color: white;margin-left: 20px;letter-spacing: 1px;">Eduction</div>
            <div style="width: 80px;height: 2px;background-color: #616161ef;margin-left: 25px;margin-top: 4px;"></div>
            <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2020 - <span>Present</span></p>
            <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">Computer Science</p>
            <p style="margin-left: 30px;margin-top: 3px;">- Unity University</p>
            <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2023 - <span>Present</span></p>
            <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">Full-stack Development Course</p>
            <p style="margin-left: 30px;margin-top: 3px;">- Kdemy, Khan Academy</p>     
    </div>
  </div>
  <img [src]="skillPath" alt="" class="Skill-image">
</div>