<div class="hide-on-mobile">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Eagle+Lake&family=Mystery+Quest&family=Ojuju:wght@200..800&family=Pompiere&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
      <div class="describtion">
        <div class="social_media_contact">
            <img [src]="github_new" alt="" class="github"><br>
            <img [src]="telegramImage" alt="" class="telegram"><br>
            <img [src]="instaImage" alt="" class="insta"><br>
            <img [src]="linkdnImage" alt="" class="linkdn"><br>
        </div>
        <div class="SubTitle">Hello Mate<img [src]="ByeImage" alt="" class="ByeImage"> <br>
        <span style="margin-top: 10px;">I'm Abenezer Abrham</span><br><span>a<span style="color: #0189FF; margin-left: 10px;">web developer.</span> </span>
        <p style="font-size: 16px;color: rgb(164, 165, 165);margin-top: 5px;">Hi, I'm Abenezer Abrham a freelance on web developer and designer from Addis Ababa. <br>I help brands turn their ideas into high quality products. </p>
        <div class="btn">Let's Talk</div>
        </div>
    </div>
     <video autoplay loop muted [src]="video"></video>
    <div>
        <p style="font-family:'Times New Roman', Times, serif;margin-top: 90px;margin-left: 45rem;font-size: 30px;font-weight: bold;">I proved the best servies on</p>
        <div class="underline"></div>
            <marquee direction="right" class="logo">
                <img [src]="expressPath" alt="" class="express">
                <img [src]="nodePath" alt="" class="node">
                <img [src]="reactPath" alt="" class="react">    
                <img [src]="angularPath" alt="" class="angular">
                <img [src]="figmaPath" alt="" class="figma">
            </marquee>
    </div>  
    <div class="skill">
      <p style="margin-left: 46rem;color: white;font-weight: lighter;">SKILLS/ <span style="color: black;">EXPERIENCES</span></p>
      <p style="font-size: 30px;margin-left: 35.5rem;margin-top: 10px;font-weight: bold;color: white;">Cheack My Skills And Work Experiance</p>
      <p style="color: rgba(80, 80, 79, 0.808);margin-left: 39.5rem;margin-top: 13px;">Cheack my skill and experiance to know all about my status  <br> <span style="margin-left: 30.5px;">and using a percentage for all my individual skills.</span></p>
      <div class="Experiences">
        <div class="Work-Experience">
          <div style="font-size: 25px;margin-top: 90px;color: white;margin-left: 20px;letter-spacing: 1px;font-weight: bold;">Work Experience</div>
          <div style="width: 100px;height: 2px;background-color: #616161ef;margin-left: 30px;margin-top: 7px;"></div>
          <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2020 - 2021</p>
          <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">UI/UX Designer</p>
          <p style="margin-left: 30px;margin-top: 3px;">- Mobile design</p>
          <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2022 - 2023</p>
          <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">Front-End Developer</p>
          <p style="margin-left: 30px;margin-top: 3px;">- Tsige Baltna</p>
          <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2023 - <span>Present</span></p>
          <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">Full-stack Developer</p>
          <p style="margin-left: 30px;margin-top: 3px;">- School System</p>
    
        </div>
        <div class="Eduction">
            <div class="Work-Experience">
                <div style="font-size: 25px;margin-top: 80px;color: white;margin-left: 20px;letter-spacing: 1px; font-weight: bold;">Eduction</div>
                <div style="width: 65px;height: 2px;background-color: #616161ef;margin-left: 25px;margin-top: 4px;"></div>
                <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2020 - <span>Present</span></p>
                <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">Computer Science</p>
                <p style="margin-left: 30px;margin-top: 3px;">- Unity University</p>
                <p style="color: rgba(168, 169, 170, 0.808);margin-left: 30px;margin-top: 20px;">2023 - <span>Present</span></p>
                <p style="font-size: 20px;margin-left: 30px;font-weight: 500;color: white;margin-top: 3px;">Full-stack Development Course</p>
                <p style="margin-left: 30px;margin-top: 3px;">- Kdemy, Khan Academy</p>     
            </div>
            <img [src]="skillPath" alt="" class="Skill-image">  
        </div>
      </div>
    </div>
    <div class="illustration">
        <img [src]="illustration" alt="" class="illustrationImage">
        <img [src]="stand" alt="" class="stand">
        <div>
          <p style="margin-top: 17rem;font-size: 20px;font-weight: bold;">Ui/Ux <span style="color: #0189FF;">Design</span></p>
          <p style="margin-top: 15px;font-weight: lighter;color: rgba(168, 169, 170, 0.808);">I was do ui/ux design for my client on (Mobile Designs)</p>
          <P style="font-weight: bold;font-size: 20px;margin-top: 13px;">Front-End <span style="color: #0189FF;">Development</span> </P>
          <p style="margin-top: 15px;font-weight: lighter;color: rgba(168, 169, 170, 0.808);">I was do Front-End design for my client on (Tsige Baltna, School Mobile app)</p>
          <P style="font-weight: bold;font-size: 20px;margin-top: 13px;">Full-stack <span style="color: #0189FF;">Development</span> </P>
          <p style="margin-top: 15px;font-weight: lighter;color: rgba(168, 169, 170, 0.808);">I was do Full-stack design for my client on (School Web app) using Angular.</p>
          <P style="font-weight: bold;font-size: 20px;margin-top: 13px;">Graphic <span style="color: #0189FF;"> Design </span> </P>
          <p style="margin-top: 15px;font-weight: lighter;color: rgba(168, 169, 170, 0.808);">I was do Graphic design for my client on (Mobile listing design)</p>
        </div>
      </div>
    <div class="review">
      <p style="font-family:'Times New Roman', Times, serif;margin-top: 120px;margin-left: 49.5rem;font-size: 30px;font-weight: bold;">What client says</p>
      <div style="width: 185px;height: 5px;background-color: #0189FF;margin-top: -9px;margin-left: 50.5rem;border-radius: 3px;"></div>
    </div>
    <div class="review-box">
      <div class="box" style="border-radius: 5px;">
        <img [src]="abraham" alt="" class="Photo">
        <div class="star">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
        </div>
        <p style="margin-left: 85px;margin-top: 2px;font-weight: bold;color: rgba(168, 169, 170, 0.808);font-size: 20px;">School Ceo</p>
        <p style="font-size: 21px;margin-left: 20px;margin-top: 10px;">demonstrating professionalism, reliability, and a commitment to exceeding client expectations.</p>
        <p style="margin-left: 20px;margin-top: 10px;color: #0189FF;font-size: 20px;">School Project</p>
      </div>
      <div class="box-2" style="border-radius: 5px;">
        <img [src]="zan" alt="" class="Photo">  
        <div class="star">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
        </div>
        <p style="margin-left: 85px;margin-top: 2px;font-weight: bold;color: rgba(255, 255, 255, 0.849);font-size: 20px;">Upwork Client</p>
        <p style="font-size: 21px;margin-left: 20px;margin-top: 10px;">Zan give me a five star on upwork. and i give a good servies on Mobile listing design.</p>
        <p style="margin-left: 20px;margin-top: 14px;color: white;font-size: 20px;">Ui/Ux Design</p>
      </div>
      <div class="box-3" style="border-radius: 5px;">
        <img [src]="bereket" alt="" class="Photo">
        <div class="star">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
          <img [src]="star" alt="">
        </div>
        <p style="margin-left: 85px;margin-top: 2px;font-weight: bold;color: rgba(168, 169, 170, 0.808);font-size: 20px;">Import and Export Inc.</p>
        <p style="font-size: 21px;margin-left: 20px;margin-top: 10px;">Abenezer provided exceptional service! His service and attention to detail make him highly recommended </p>
        <p style="margin-left: 20px;margin-top: 10px;color: #0189FF;font-size: 20px;">Tsige baltna</p>
      </div>
    </div>
    <div class="footer"></div>
    <div class="Footer-element">
      <div id="subscribeSection">
        <input type="text" class="input" placeholder="Enter Your Email Addrees">
        <button style="width: 6rem;height: 40px;border-radius: 20px;margin-left: 10px;margin-top: 20px;"><p style="font-size: 15px;margin-left: -5px;margin-top: -3px;">Subscribe</p></button>
      </div>
      <div class="footer_name">
        <div class="name"><span style="color: white;font-weight: bold;">Abenezer</span> <span style="color: #0189FF;font-weight: bold;margin-left: 6px;">Abrham</span></div>
        <p style="font-size: 20px;margin-left: 70px;margin-top: 8px;color: rgba(255, 255, 255, 0.726);">Hi, I'm Abenezer Abrham a freelance on web developer <br> and designer from Addis Ababa.I help brands <br> turn their ideas into high quality products.</p>
        <div class="social">
          <img [src]="githubImage" alt="" class="github-footer">
          <img [src]="telegramImage" alt="" class="telegram-footer">
          <img [src]="instaImage" alt="" class="instagram-footer">
          <img [src]="linkdnImage" alt="" class="linkdn-footer"> 
        </div>
      </div>
      <div class="footer_link">
        <p style="font-size: 30px;color: white;font-weight: bold;" class="Link"><span style="color: #0189FF;">Link</span></p>
        <p style="margin-left: 35.5rem; margin-top: 10px; font-weight: bold; color: white;font-size: 20px;">
          <a routerLink="/privous">Previous Page</a>
        </p>
        <p style="margin-left: 36.3rem;margin-top: 10px;font-weight: bold;color: white;font-size: 20px;"><a routerLink="/about">About Me</a></p>
      </div>
      <div class="footer-contact">
        <p style="font-size: 30px;color: #0189FF;margin-left: 64rem;margin-top: -78px;font-weight: bold;">Contact <span></span></p>
        <div class="Contact-me">
          <img [src]="upwork" alt="" style="width: 25px;height: 25px;margin-left: 54rem;margin-top: 20px;">
          <a href="https://www.upwork.com/freelancers/~015486a53d6d3eb69a"><p style="margin-left: 7px;font-size: 17px;">https://www.upwork.com/freelancers/~015486a53d6d3eb69a</p></a>
        </div>
        <div class="Contact-me">
          <img [src]="email" alt="" style="width: 30px;height: 30px;margin-left: 53.8rem;margin-top: 14px;">
          <a href="mailto:Abenezer82abrahm@gmail.com"><p style="margin-left: 5px;margin-top: -3px;font-size: 17px;">abenezer82abrham&#64;gmail.com</p></a>
        </div>
      </div>
      <div style="width: 60rem;height: 0.4px;background-color: rgba(255, 255, 255, 0.733);margin-top: 100px;margin-left: 25rem;border-radius: 3px;"></div>
      <p style="margin-left: 44rem;margin-top: 10px;color: rgba(255, 255, 255, 0.61);font-size: 15px;">Copyright &#64;2024 Abenezer Abrham Inc. All Rights Reserved</p>
    </div>
</div>


<!-- mobile screen design. -->
<div class="show-on-mobile">
      <p class="Title"><span style="color: #0189FF;">A</span>benezer <span style="color: #0189FF;">A</span>brham</p>
    <main class="Text-animation">
      <p class="Animation-text">Hello 👋 I'm</p>
      <section class="animation">
        <div class="first"><div>Abenezer Abrham</div></div>
        <div class="second"><div>Web Developer & </div></div>
        <div class="third"><div>Mobile Designer</div></div>
      </section>
    </main>
    <div class="sub_description">
      <p class="Mob_description"><span style="margin-left: 15px;">Hi, I'm Abenezer Abrham a freelance on web</span><br><span style="margin-left: 24px;">developer and designer from Addis Ababa.</span><br><span style="margin-left: 50px;">I help brands turn their ideas into</span><br><span style="margin-left: 82px;"> high quality products.</span><br><span></span></p>
      <div class="mob_button">Let's Talk</div>
    </div>
    <img src="" alt="" class="profile_pic"> 
  <marquee direction="right" class="logo">
    <img [src]="expressPath" alt="" class="mob_express">
    <img [src]="nodePath" alt="" class="mob_node">
    <img [src]="reactPath" alt="" class="mob_react">    
    <img [src]="angularPath" alt="" class="mob_angular">
    <img [src]="figmaPath" alt="" class="mob_figma">
  </marquee>
  <div>
    <video autoplay loop muted [src]="video" class="mob_video"></video>
  </div>
  <div class="mob_skill">
    <p class="mob-skill-header">SKILLS/ <span style="color: black;">EXPERIENCES</span></p>
    <p class="mob-skill-sub">Cheack My Skills And Work Experiance</p>
    <p class="mob-skill-descrition">Cheack my skill and experiance to know all <br> <span>about my status and using a percentage</span> <br> <span>for all my individual skills.</span></p>
    
    <div class="expectations">
      <div class="mob_experiance">
        <div class="mob_experiance_title">Work Experience</div>
        <div class="mob_experiance_blank"></div>
        <p class="mob_experiance_date">2020 - 2021</p>
        <p class="mob_experiance_filed">Ui/Ux Designer</p>
        <p class="mob_experiance_project">- Mobile design</p>
        <p class="mob_experiance_date">2022 - 2023</p>
        <p class="mob_experiance_filed">Front-End Developer</p>
        <p class="mob_experiance_project">- Tsige Baltna</p>
        <p class="mob_experiance_date">2023 - <span>Present</span></p>
        <p class="mob_experiance_filed">Full-stack Developer</p>
        <p class="mob_experiance_project">- School System</p>
      </div>
        <div class="Education-Experience">
            <div class="Education-Experience_title">Eduction</div>
            <div class="Education-Experience_blank"></div>
            <p class="Education-Experience_date">2020 - <span>Present</span></p>
            <p class="Education-Experience_filed">Computer Science</p>
            <p class="Education-Experience_project">- Unity University</p>
            <p class="Education-Experience_date">2023 - <span>Present</span></p>
            <p class="Education-Experience_filed">Full-stack Course</p>
            <p class="Education-Experience_project">- Udemy</p>  
          </div>
    </div>
    <img [src]="skillPath" alt="" class="mob_skill-image">
  </div>
  <div class="mob_illustration">
    <div class="illustration">
      <img [src]="illustration" alt="" class="mob_illustrationImage">
      <img [src]="stand" alt="" class="mob_stand">
      <div>
        <p style="margin-top: 3rem;font-size: 14px;font-weight: bold;">Ui/Ux <span style="color: #0189FF;">Design</span></p>
        <p style="margin-top: 5px;font-weight: lighter;color: #4e4e4e ;font-size: 10px;">I was do ui/ux design for my client on (Mobile Designs)</p>
        <P style="font-weight: bold;font-size: 13px;margin-top: 13px;">Front-End <span style="color: #0189FF;">Development</span> </P>
        <p style="margin-top: 5px;font-weight: lighter;color: #4e4e4e;font-size: 10px;">I was do Front-End design for my client on (Tsige Baltna, School Mobile app)</p>
        <P style="font-weight: bold;font-size: 13px;margin-top: 13px;">Full-stack <span style="color: #0189FF;">Development</span> </P>
        <p style="margin-top: 5px;font-weight: lighter;color: #4e4e4e;font-size: 10px;">I was do Full-stack design for my client on (School Web app) using Angular.</p>
        <P style="font-weight: bold;font-size: 13px;margin-top: 13px;">Graphic <span style="color: #0189FF;"> Design </span> </P>
        <p style="margin-top: 5px;font-weight: lighter;color: #4e4e4e;font-size: 10px;">I was do Graphic design for my client on (Mobile listing design)</p>
      </div>
    </div>
  </div>
  <div class="mob_box">
    <img [src]="abraham" alt="" class="Photo">
    <div class="star">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
    </div>
    <p style="margin-left: 85px;margin-top: 2px;font-weight: bold;color: rgba(168, 169, 170, 0.808);">School Ceo</p>
    <p style="font-size: 15px;margin-left: 20px;margin-top: 10px;">demonstrating professionalism, reliability, and a commitment to exceeding client expectations.</p>
    <p style="margin-left: 20px;margin-top: 10px;color: #0189FF;">School Project</p>
  </div>
  <div class="mob_box_2">
    <img [src]="zan" alt="" class="Photo"> 
    <div class="star">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
    </div>
    <p style="margin-left: 85px;margin-top: 2px;font-weight: bold;color: rgba(255, 255, 255, 0.849);">Upwork Client</p>
    <p style="font-size: 15px;margin-left: 20px;margin-top: 10px;">Zan give me a five star on upwork. and i give a good servies on Mobile listing design.</p>
    <p style="margin-left: 20px;margin-top: 10px;color: white;">Ui/Ux Design</p>
  </div>
  <div class="mob_box_3">
    <img [src]="bereket" alt="" class="Photo">
    <div class="star">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
      <img [src]="star" alt="">
    </div>
    <p style="margin-left: 85px;margin-top: 2px;font-weight: bold;color: rgba(168, 169, 170, 0.808);">Import and Export Inc.</p>
    <p style="font-size: 15px;margin-left: 20px;margin-top: 10px;">Abenezer provided exceptional service! His service and attention to detail make him highly recommended </p>
    <p style="margin-left: 20px;margin-top: 10px;color: #0189FF;">Tsige baltna</p>
  </div>
  <div class="mob_footer"></div>
  <div class="mob_element">
    <div class="mob_Subscribe">
      <input type="text" class="mob_input" placeholder="Enter Email Addrees">
      <div style="width: 90px;height: 45px;background-color: #0189FF;margin-top: 20px;border-radius: 30px;margin-left: 10px;"><p style="margin-top: 14px;margin-left: 10px;color: white;font-weight: bold;font-size: 16px;">Subscribe</p></div>
     </div>
      <div class="mob_name"><span style="color: white;font-weight: bold;">Abenezer</span> <span style="color: #0189FF;font-weight: bold;margin-left: 6px;">Abrham</span></div>
      <p class="footer_description">Hi, I'm Abenezer Abrham a <br> freelance on web developer and <br> designer from Addis Ababa.I <br> help brands turn their ideas into <br> high quality products.</p>
      <div class="mob_social">
        <img [src]="githubImage" alt="" class="mob_github-footer">
        <img [src]="telegramImage" alt="" class="telegram-footer">
        <img [src]="instaImage" alt="" class="instagram-footer">
        <img [src]="linkdnImage" alt="" class="linkdn-footer"> 
      </div>
        <p class="mob_upwork_title">Contact Me<span></span></p>
        <div class="Contact-me">
          <a href="https://www.upwork.com/freelancers/~015486a53d6d3eb69a"><img [src]="upwork" alt="" style="width: 25px;height: 25px;margin-left: 270px;margin-top: -10px;"></a>
          <a href="mailto:Abenezer82abrahm@gmail.com"><img [src]="email" alt="" style="width: 30px;height: 30px;margin-left: -26px;margin-top: 20px;"></a>
        </div>
        <div class="footer_blank"></div>
        <p class="footer_copyright">Copyright &#64;2024 Abenezer Abrham Inc.</p>
  </div>
</div>